<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #848181;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}"> Welcome to the Home Page </h1>
        <p>GitHub Repo Link : <span data-th-text="${Githubrepo}"></span></p>
        <a th:href="${Githubrepo}">Click here to open</a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, 
            qui facere tempore quibusdam officiis voluptas sit quis unde laborum 
            suscipit optio dolorem doloremque deleniti, adipisci esse, hic aliquid. 
            Et, impedit.
        </p>
    </div>
</body>
</html>